{%- from 'telemetry/settings.sls' import telemetry with context %}
{%- from 'filecollector/settings.sls' import filecollector with context %}
collector:
    files:{% for logfile in telemetry.logs %}
    - path: {{ logfile["path"] }}
      folderPrefix: logs
      label: "{{ logfile["label"] }}"{% endfor %}
    - path: /var/log/td-agent/td-agent.log*
      label: fluentd
      folderPrefix: logs
      useFullPath: false
    - path: /var/lib/cdp/cdp_info.json
      label: cdp_info
      useFullPath: false
    rules:{% for rule in telemetry.anonymizationRules %}{% set regex_value = rule["value"] %}{% set replacement = rule["replacement"] if rule["replacement"] else "[REDACTED]" %}
    - pattern: {{ regex_value }}
      replacement: "{{ replacement }}"{% endfor %}
    compress: true
    compressFormat: gztar
    useFullPath: true
    deleteCompressedFile: false
    requiredDiskSpaceRatio: 1.7
    outputLocation: "/var/lib/filecollector"